@import "tailwindcss";

@theme {
  --font-display: var(--font-geist-sans);
  --color-background-light: #f8fafc;
  --color-background-dark: #0a0a0a;
  --color-primary: #2563eb;
}

body {
  font-family: var(--font-geist-sans);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
